<%- include ("partials/header.ejs")%>
<h1>NEW FORM</h1>
<div class="container">
    <form action="/newTask" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="description" placeholder="description">
        <input type="submit">
    </form> 
</div>
<%- include ("partials/footer.ejs")%>
